@import "node_modules/govuk-frontend/settings/all";

$govuk-global-styles: true;

// Override the govuk-frontend font stack
$govuk-font-family: "HelveticaNeue", "Helvetica Neue", "Arial", "Helvetica", sans-serif;

// Remove canvas background colour, as is used with the GOV.UK Footer.
$govuk-canvas-background-colour: $govuk-body-background-colour;

$govuk-page-width: 1200px;

@import "node_modules/govuk-frontend/all";

// If you need to create a page as part of your journey, but without GOV.UK branding
// See localhost:3000/docs/examples/blank-unbranded


.govuk-tag--delayed {
  background-color: rgba(163,24,38,1);
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: bold;
}

.govuk-tag--delayed-date {
  color: rgba(163,24,38,1);

  font-weight: bold;
}




#search-button {
  width: 45px;
  height: 40px;
  background-color:  #01823B;
  color: white;
  font-size: 25px;
  margin-left: 3px;
  border-color: #01823B;
  border-radius: 3px;


}

#search-button:hover {
  width: 45px;
  height: 40px;
  background-color: #027333;
  border-color: #027333;
  color: white;
  font-size: 25px;
    border-radius: 3px;

}

.hide-row {
    display: none;
}

.my-work tbody tr:hover {
  background-color: #ddd;
  cursor: pointer;
}

.my-work thead th:hover {
  cursor: pointer;
}

.my-work tr.expandy-row:hover {
  background-color: transparent;
  cursor: default;
}

.my-work {
   font-size: 14px;
}

.my-work tbody td {

  border-bottom: 0;
  border-top: 2px solid #ddd;
}

.my-work tbody tr {
}

.my-work .viewed td {
  font-weight: normal;
}

.my-work tr + .expandy-row td {
  border-top: 0;
}

.my-work .openarrow {
  display: none;
}

.my-work .closedarrow {
  display: block;
}

.my-work tr.open .openarrow {
  display: block;
}

.my-work tr.open .closedarrow {
  display: none;
}

.vertical {
  border-left: 2px solid grey;
  margin-top: 0px;
  margin-left: 20px;
  height: 80px;

}

a:visited {
  color:#000000;
}

.sortable {
  &:after {
    content: '▼▲'

  }
}

.sortable--asc {
  &:after {
    content: '  ▲';
  }
}

.sortable--desc {
  &:after {
    content: '  ▼';
  }
}

.filter {
  font-size: 16px;
  background-color: none;
  border-color: black;
  border-radius: 2px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  height: px;
  text-align: left;
}

.filter:after {
  content: '  +'

}

.active:after {
  content: '  -'
}

.govuk-checkboxes__label {
  font-size: 16px;
}
