application types

{
  value: "Preliminary",
  text: "Preliminary"
},
{
  value: "Substantive",
  text: "Substantive"
},

{
  value: "New Lease",
  text: "New Lease"
},
  {
    value: "Official Copies",
    text: "Official Copies"
  },
  {
    value: "Official Search of Part with Priority",
    text: "Official Search of Part with Priority"
  },
  {
    value: "Official Search of Whole with Priority",
    text: "Official Search of Whole with Priority"
  },
  {
    value: "Cancellation of Official Search of Part - OS2",
    text: "Cancellation of Official Search of Part - OS2"
  },
  { value: "Cancellation of Official Search of Whole - OS1",
    text: "Cancellation of Official Search of Whole - OS1"
  },
  { value: "Document View",
    text: "Document View"
  },
  { value: "Home Rights Search",
    text: "Home Rights Search"
  },
  { value: "LLC Search",
    text: "LLC Search"
  },
  { value: "OC-Deeds Referred To",
    text: "OC-Deeds Referred To"
  },
  { value: "OC-Register (Historical)",
    text: "OC-Register (Historical)"
  },
  { value: "OC-Register or Plan",
    text: "OC-Register or Plan"
  },
  { value: "OC-Register or Plan or CI",
    text: "OC-Register or Plan or CI"
  },
  { value: "Official Search of Part – OS2",
    text: "Official Search of Part – OS2"},

  { value: "Official Search of Whole – OS1",
    text: "Official Search of Whole – OS1"
  },
  { value: "Official Search OS3 (Whole)",
    text: "Official Search OS3 (Whole)"
  },
  { value: "Register View",
    text:  "Register View"
  },
  { value: "Search of the Index of Franchises and Manors",
    text:  "Search of the Index of Franchises and Manors"
  },
  {
    value: "Register Update",
    text: "Register Update"
  },
  { value: "Title Plan View",
    text: "Title Plan View"
  },
  { value: "LC Bankruptcy Search",
    text: "LC Bankruptcy Search"
  },
  { value: "LC Full Search",
    text: "LC Full Search"
  },
  { value: "LC Office Copy",
    text: "LC Office Copy"
  },
  { value: "LC Registration View",
    text: "LC Registration View"
  },
  { value: "Agreed Notice",
    text: "Agreed Notice"
  },
  { value: "Cancellation of a Caution",
    text: "Cancellation of a Caution"
  },
  { value: "Cancellation of a Notice (Not Unilateral)",
    text: "Cancellation of a Notice (Not Unilateral)"
  },
  { value: "Change of Address for Service",
    text: "Change of Address for Service"
  },
  { value: "Change of Name",
    text: "Change of Name"
  },
  { value: "Change of Property Description",
    text: "Change of Property Description"
  },
  { value: "Statutory Charge (Lodged Electronically)",
    text: "Statutory Charge (Lodged Electronically)"
  },
  { value: "Death of Joint Proprietor",
    text: "Death of Joint Proprietor"
  },
  { value: "Home Rights",
    text: "Home Rights"
  },
  { value: "Cancellation of Home Rights",
    text: "Cancellation of Home Rights"
  },
  { value: "Restrictions (Standard)",
    text: "Restrictions (Standard)"
  },
  { value: "Cancellation of Restriction",
    text: "Cancellation of Restriction"
  },
  { value: "Withdrawal of Restriction",
    text: "Withdrawal of Restriction"
  },
  { value: "Unilateral Notice",
    text: "Unilateral Notice"
  },
  { value: "Removal of Unilateral Notice",
    text: "Removal of Unilateral Notice"
  },
  { value: "Cancellation of Unilateral Notice",
    text: "Cancellation of Unilateral Notice"
  },
  { value: "Withdrawal of Caution",
    text:  " Withdrawal of Caution"
  },
  { value: "Discharge of a Charge",
    text: "Discharge of a Charge"
  },
  { value: "Register View – pdf",
    text: "Register View – pdf"
  },
  {
    value: "Search of the Index Map",
    text: "Search of the Index Map"
  },

  {
    value: "Transfer of Part",
    text: "Transfer of Part"
  }
