{% extends "layout_unbranded.html" %}

{% block pageTitle %}

{% endblock %}

{% block content %}

<html style="font-family: arial;">


<h1 class="govuk-!-font-size-24"> Application Enquiry: Completion Times </h1>
<h2 class="govuk-!-font-size-19" style="font-weight: normal; color: #266C23;"> Average completion times (working days)</h2>
<br>

<p class="govuk-!-font-size-16">
  <b> Updates to the register</b> <br>
      9                           <br>
                                  <br>
  <b> First Registrations </b>    <br>
      26                          <br>
                                  <br>
  <b> New Leases </b>             <br>
      69                          <br>
                                  <br>
  <b> Transfers of Part </b>      <br>
      53                          <br>
                                  <br>

<a href="#"> View Service Standards Data ⬈ </a> </p>

</html>

{% endblock %}
