<tr class="govuk-table__row expandy-row hide-row">
  <!-- Vertical line -->
  <td class="govuk-table__cell" colspan="1" ><div class="vertical" style="height: 230px;"></div></td>
  <div>
  <!-- HMLR reference -->
          <td class="govuk-table__cell" colspan="3" style="padding-top: 10px;">
          <b> HMLR Reference</b>
          <br><br>
          <p style="font-size: 14px;">S827LKJ</p>
          <br><br><br><br>
          <b>Correspondence</b>
          <p style="font-size: 14px;"><br>
          <a href="#"></a><br>
          <a href="#"></a>
        </p><br>
          </td>

  <td class="govuk-table__cell" colspan="3" style="vertical-align: top;">
    <b>Estimated completion date</b>
    <br><br>
    01/08/19
    <br><br><p style="font-size: 13px;">
    These dates are calculated using <a class="govuk-link" href="averagetimes.html">Application Enquiry Completion Times data.</a> Dates may change depending on current wait times and the status of an application. </P>



      <b>Files</b>
      <p style="font-size: 14px;"></p></td>
    </div>

    </tr>
</tbody>
