<!DOCTYPE html>
{% extends "layout_unbranded.html" %}
{% from "checkboxes/macro.njk" import govukCheckboxes %}


{% block pageTitle %}
{% endblock %}

{% block content %}

<!-- Back & clear data top -->
<div class="govuk-width-container">
   <a href="index.html" class="govuk-back-link">Back to Index</a>
   <meta charset="utf-8"/>


<!-- Phase banner ----->
   <div class="govuk-phase-banner">
   <p class="govuk-phase-banner__content"><strong class="govuk-tag govuk-phase-banner__content__tag">
   Prototype
 </strong>
     <span class="govuk-phase-banner__text">
       This is a prototype and not a real service.
     </span>
   </p>
 </div>
 </div>
 <br>
 <br>

<!-- Header -->
  <div class="govuk-grid-row" >
  <div class="govuk-grid-column-full" id="headerdiv">
  <img src="public/images/headerlogo.svg" alt="hmlrlogo">
  <br>
  <a href="#" style="float: right; font-size: 14px; font-weight: ; margin-top: -15px;"> Logout </a>

  <a href="#" style="float: right; font-size: 14px; font-weight: ; padding-right: 10px; margin-top: -15px;"> Customer Support </a>

  <a href="#" style="float: right; font-size: 14px; font-weight: ; padding-right: 10px; margin-top: -15px; padding-bottom: 0px;"> Jane Doe </a>


  <hr style= "height: 4px;  background-image: linear-gradient(-60deg,#b4d307,#b4d307 50%,#d7e900 0,#d7e900); border: none;">
  </div>
  </div>
  <br>
  <br>


<!-- Menu -->
<div class="govuk-grid-row">
<div class="govuk-grid-column-one-quarter" id="menu">

    <!--Portal Home Menu item-->
    <div><button class="collapsible"><strong><a class="URL" href="index.html" style="text-decoration: none;">My Portal Homepage</a></strong></button></div>


    <!--INFORMATION SERVICES DROPDOWN-->
    <button class="collapsible"><strong>Information Services</strong></button>
    <div class="content">
    <div class="item"><a class="link" href="RequestOfficialCopies">Request official copies</a><br> </div>
    <div class="item"><a class="link">Official Search of Whole with Priority</a></div>
    <div class="item"><a class="link">Official Search of Part with Priority</a></div>
    <div class="item"><a class="link">Withdraw Official Search with Priority</a></div>
    <div class="item"><a class="link">Official Search of Whole without Priority</a></div>
    <div class="item"><a class="link">Local Land Charges Search</a></div>
    <div class="item"><a class="link">MapSearch *** FREE ***</a></div>
    <div class="item"><a class="link">Application Enquiry *** FREE ***</a></div>
    <div class="item"><a class="link">Search of the Index Map</a></div>
    <div class="item"><a class="link">Home Rights Search</a></div>
    <div class="item"><a class="link">Search Index of Relating Franchises and Manors</a></div>
    <div class="item"><a class="link">Enquiry By Property Description - Title view</a></div>
    <div class="item"><a class="link">Register View - PDF</a></div>
    <div class="item"><a class="link">Register View - HTML</a></div>
    <div class="item"><a class="link">Title Plan View</a></div>
    <div class="item"><a class="link">Document View</a></div>
    <div class="item"><a class="link">Request Historical Copies</a></div>
    </div>

    <!--LAND CHARGES DROPDOWN-->
    <button class="collapsible"><strong>Land Charges Services</strong></button>
    <div class="content">
    <div class="item"><a class="link">Bankruptcy Search</a><br> </div>
    <div class="item"><a class="link">Full Search</a></div>
    <div class="item"><a class="link">Office Copy</a></div>
    <div class="item"><a class="link">Registration View</a></div>
    </div>

    <!--DOCUMENT REGISTRATION SERVICE-->
    <div><button class="collapsible" style="height: 50px;"><strong>Document Registration Service</strong></button>
    </div>

    <!--REPLY TO REQUISITION-->
    <div><button class="collapsible"><strong>Reply to Requisition</strong></button>
    </div>

    <!--GENERAL FACILITIES-->
    <div><button class="collapsible"><strong>General Facilities</strong></button>
    <div class="content">
    <div class="item"><a class="link">Message area</a><br> </div>
    <div class="item"><a class="link">Services Requested</a></div>
    <div class="item"><a class="link">PDF Downloads</a></div>
    <div class="item"><a class="link">Notifications</a></div>
    </div>

    <!--Admin Services-->
    <button class="collapsible"><strong>Administrative Services</strong></button>
    <div class="content">
    <div class="item"><a class="link">Alternative despatch address</a><br> </div>
    <div class="item"><a class="link">Personal details</a></div>
    <div class="item"><a class="link">Change password</a></div>
    </div><br>

    <!--Additional menu-->


</div>

<style>

  #submenu {
    cursor: pointer;
  }

  /* Style the button that is used to open and close the collapsible content */
  .collapsible {
    background-color: transparent;
    cursor: pointer;
    height: 30px;
    border: none;
    text-align: left;
    outline: none;
    font-size: 14px;
    display: flex;
    justify-content: left;
    align-items: left;
    width: 200px;

  }

  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .collapsible:hover {
    background-color: #D4E039;
  }

  /* Style the collapsible content. Note: hidden by default */
  .content {
    padding-left: 10px;
    font-size: 12px;
    display: none;
    overflow: hidden;
    font-family: arial;
    cursor: pointer;
  }

  .item {
    width: 190px;
    padding-top: 1px;
    padding-bottom: 1px;
    margin-bottom: 5px;
    margin-top: 5px;
  }

  .item:hover {
      background: #E5EC89;
  }

  .link:hover {
    background: #E5EC89;
    text-decoration: underline;
  }


</style>

<script>
var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.display === "block") {
      content.style.display = "none";
    } else {
      content.style.display = "block";
    }
  });
}
</script>

</div>





<!-- Service title -->

<div class="govuk-grid-column-three-quarters">
<h1 class="govuk-body govuk-!-font-size-27" style="font-family: arial; padding-top: 5px;"> View My Applications </h1>


<!---CONTENT----------------------------------------------------------------->

<!-- <h2 class="govuk-body govuk-!-font-size-21" style="font-family: arial; padding-top: 5px; font-style: italic;"></h2> -->

<!--Filters & searches-->


<div>

<div class="govuk-grid-row" style="margin-bottom: 20px;">

  <form id="search" style="">
    <div class="govuk-grid-column-one-third">
    <label class="govuk-label govuk-!-font-size-16" style="float: left;"> Search by Customer reference, Title number or HMLR reference</label><br><br>

    <input type="text" id="search-input" style="width: 250px; height: 35px; font-size: 14px; padding-left: 10px; margin-top: 10px; float: left; border-color: black; border-width: 1px; border-radius: 2px;">
      <button  id="search-button" style="float: left; font-size: 19px; margin-top: 10px;"> Search </button>
    </div>



      <div class="govuk-grid-column-one-third" style="width: 30%;" >
        <label class="govuk-label govuk-!-font-size-16" style="padding-bottom: 25px;"> Filter by type</label>

        <div class="">
      {{ govukCheckboxes ({
      idPrefix: "application-type",
      name: "application-type",
      classes: "govuk-checkboxes--small",
      fieldset: {
        legend: {
          text: ""
        }
      },
      items: [
      {
        value: "Preliminary",
        text: "Preliminary applications (Enquiries for information)",
        checked: true
      },

      {
        value: "Substantive",
        text: "Substantive applications (Creating or changing an entry on the register)",
        checked: true

      }
      ]
    }) }}
</div>
    </div>


    <div class="govuk-grid-column-one-third" style="margin-top: 0px;">

      <label class="govuk-label govuk-!-font-size-16" style="padding-bottom: 25px;"> Filter by progress</label>
      <div class="">

    {{ govukCheckboxes({
      idPrefix: "application-progress",
      name: "application-progress",
      classes: "govuk-checkboxes--small checkbox-progress2 govuk-table__row",
      fieldset: {
        legend: {
          text: ""
        }
      },
      items: [
        {
          value: "Select all",
          text: "Select all",
          id: "select-all",
          checked: true
        },
        {
          value: "Received",
          text: "Received",
          checked: true
        },
        {
          value: "In progress",
          text: "In progress",
          checked: true
        },
        {
          value: "Cancelled",
          text: "Cancelled",
          checked: true
        },
        {
          value: "Delayed",
          text: "Delayed",
          checked: true
        },
        {
          value: "Completed",
          text: "Completed",
          checked: true
        }
      ]
    }) }}
    </div>
    </div>

<br>
  </form>
  <br>
  <br>


</div>

</div>


<div >

<!-- My Work Table -->
<table class="govuk-table my-work">

<thead class="govuk-table__head">
<tr class="govuk-table__row" style="font-size:14px;background-color: rgba(199,210,193,0.5);">
<th class="govuk-table__header govuk-!-width-one-twelfth " scope="col"></th>
<th class="govuk-table__header govuk-!-width-one-sixth " scope="col" id="Title">Title number</th>
<th class="govuk-table__header govuk-!-width-one-sixth  " scope="col">Customer reference</th>
<th class="govuk-table__header govuk-!-width-one-sixth " scope="col">Application type</th>
<th class="govuk-table__header govuk-!-width-one-sixth sortable" style="cursor: pointer;" scope="col">Received by HMLR </th>
<th class="govuk-table__header govuk-!-width-one-sixth  " scope="col">Application progress</th>
<th class="govuk-table__header govuk-!-width-one-sixth sortable" style="cursor: pointer;" scope="col">Estimated completion </th>
<th class="govuk-table__header govuk-!-width-one-twelfth" style="cursor: pointer; width: 6%;" scope="col"><a href="#"  style="font-weight: normal; font-size: 12px;" class="expandyAll">Open all</a></th>
</tr>
<tr class="govuk-table__row"><p style="font-size: 14px; float: left;"> Estimated completion dates are calculated using <a class="govuk-link" href="https://www.gov.uk/government/publications/hm-land-registry-service-standards/our-service-standards#average-completion-times">Average completion times.</a><br> Dates may change depending on current wait times and the status of an application. </p> </th>
  <a href="#" id="reset" class="govuk-link" style="float: right; font-size: 14px; margin-top: 20px;">Reset search and filters</a>
</tr>
</thead>



<p id="nofiltermessage"></p>

{% macro rows(page) %}
  <!-- 1 --> <tbody class="govuk-table__body">
  <tr class="govuk-table__row govuk-link">
  <td class="govuk-table__cell "></td>
  <td class="govuk-table__cell " scope="row">LP123456 <p class="govuk-visually-hidden"> L927GDU </p><!-- THIS IS PAGE {{page}} --></td>
  <td class="govuk-table__cell ">Jones.20313</td>
  <td class="govuk-table__cell ">Register Update<p class="govuk-visually-hidden"> Substantive </p></td>
  <td class="govuk-table__cell " scope="row" data-sortable="2019-06-15">15/06/19</td>
  <td class="govuk-table__cell " scope="row">Delayed - Prior Pending Applications(s) or Official Search(es)</td>
  <td class="govuk-table__cell " style="padding-left: 10px;"  data-sortable="2019-11-21">21/11/19</td>
  <td class="govuk-table__cell" scope="row"><a class="expandy-row-trigger2" href="#">+</a></td>
  </tr>



  <tr class="govuk-table__row expandy-row hide-row accordion-default-content-1">
    <!-- Vertical line -->
    <td class="govuk-table__cell" colspan="1"></div>
      </td>
    <div>
    <!-- HMLR reference -->

            <td class="govuk-table__cell" colspan="2" style="padding-top: 0px;">
            <b> HMLR Reference</b>
            <br><br>
            <p style="font-size: 14px;">L927GDU</p></td>

    <!-- Correspondence -->
          <td class="govuk-table__cell" colspan="2">
            <b>Correspondence</b>
            <p style="font-size: 14px;"><br>
            <a href="#"> Notice(s) issued on 22/08/19</a><br>
            <a href="#"> Notice(s) issued on 12/07/19</a>
          </p></td>
    <!-- Files -->
            <td class="govuk-table__cell" colspan="2" style="padding-top: 0px;">
            <b>Files</b><br><br><br>
            <p style="font-size: 14px;">

            </p></td>

      </div>
      </tr>
  </tbody>

  <tbody class="govuk-table__body">

  <tr class="govuk-table__row govuk-link">
    <td class="govuk-table__cell "></td>
  <td class="govuk-table__cell" scope="row">LP980123 <p class="govuk-visually-hidden"> S827LKJ </p> </td>
  <td class="govuk-table__cell">Brown.12334</td>
  <td class="govuk-table__cell">New Lease <p class="govuk-visually-hidden"> Substantive </p></td>
  <td class="govuk-table__cell" scope="row" data-sortable="2019-04-01">01/04/19</td>
  <td  class="govuk-table__cell"> <t class="govuk-tag--progress"> Received: Priority Protected - Awaiting Processing</t></td>
  <td class="govuk-table__cell"style="padding-left: 10px;" data-sortable="2019-08-01">01/08/19</td>
  <td class="govuk-table__cell" scope="row"><a class="expandy-row-trigger2" href="#">+</a></td>
  </tr>


  <tr class="govuk-table__row expandy-row hide-row">
    <!-- Vertical line -->
    <td class="govuk-table__cell" colspan="1" ></div>
  </td>
    <div>
    <!-- HMLR reference -->
            <td class="govuk-table__cell" colspan="2" style="padding-top: 0px;">
            <b> HMLR Reference</b>
            <br><br>
            <p style="font-size: 14px;">S827LKJ</p>
            </td>
    <!-- Correspondence -->
          <td class="govuk-table__cell" colspan="2">
            <b>Correspondence</b>
            <p style="font-size: 14px;"><br>
            <br><br>
            <a href="#"></a>
          </p></td>
    <!-- Files -->
            <td class="govuk-table__cell" colspan="2" style="padding-top: 0px;">
            <b>Files</b>
            <p style="font-size: 14px;">
              <br>
              <br>
            </p></td>

      </div>
      </tr>

  </tbody>

  <tbody class="govuk-table__body">

  <tr class="govuk-table__row  govuk-link">
  <td class="govuk-table__cell "></td>
  <td class="govuk-table__cell" scope="row">LP09209 <p class="govuk-visually-hidden"> Y917GSY </p> </td>
  <td class="govuk-table__cell">Bartlett.23124</td>
  <td class="govuk-table__cell">Official Copies <p class="govuk-visually-hidden"> Preliminary </p></td>
  <td class="govuk-table__cell" scope="row" data-sortable="2019-01-01">01/01/19</td>
  <td class="govuk-table__cell" scope="row">Completed</td>
  <td class="govuk-table__cell" style="padding-left: 10px;">  </td>
    <td class="govuk-table__cell" scope="row"><a class="expandy-row-trigger2 nogovuk-link" href="#">+</a></td>
  </tr>



      <tr class="govuk-table__row expandy-row hide-row">
        <!-- Vertical line -->
        <td class="govuk-table__cell" colspan="1" ></div>
  </td>
        <div>
        <!-- HMLR reference -->
                <td class="govuk-table__cell" colspan="2" style="padding-top: 0px;">
                <b> HMLR Reference</b><br><br>

                <p style="font-size: 14px;">Y917GSY</p></td>

        <!-- Correspondence -->
              <td class="govuk-table__cell" colspan="2">
                <b>Correspondence</b>
                <p style="font-size: 14px;">
                <a href="#"></a>
                <a href="#"></a>
                <br>
                <br>
                <br>
              </p></td>
        <!-- Files -->
                <td class="govuk-table__cell" colspan="2" style="padding-top: 0px;">
                <b>Files</b>
                <p style="font-size: 14px;">
                  <br>
                  <a href="#"> Official Copy - Title plan</a><br>
                  <a href="#"> Official Copy - Register</a>


                </p></td>

          </div>
          </tr>

      </tbody>

  <tbody class="govuk-table__body ">

  <tr class="govuk-table__row govuk-link">
<td class="govuk-table__cell "></td>
  <td class="govuk-table__cell" scope="row">LP980123 <p class="govuk-visually-hidden"> E921HSK </p></td>
  <td class="govuk-table__cell">Watkins.12334</td>
  <td class="govuk-table__cell">Official Search of Whole with Priority<p class="govuk-visually-hidden"> Preliminary </p></td>
  <td class="govuk-table__cell" scope="row" data-sortable="2019-06-13">13/06/19</td>
  <td  class="govuk-table__cell" scope="row"><text class="govuk-tag--complete">Completed</text></td>
  <td class="govuk-table__cell"style="padding-left: 10px;" data-sortable=""></td>
  <td class="govuk-table__cell" scope="row"><a class="expandy-row-trigger2" href="#">+</a></td>
  </tr>

  <tr class="govuk-table__row expandy-row hide-row">
    <!-- Vertical line -->
    <td class="govuk-table__cell" colspan="1" ></div>
  </td>
    <div>


    <!-- HMLR reference -->

            <td class="govuk-table__row" colspan="2" style="padding-top: 0px;">
            <br>  <b> Priority Period<br> </b>13 Jun 2019 - 13 Jul 2019 <br><br><br>



            <b> HMLR Reference</b>
            <br><br>
            <p style="font-size: 14px;">E921HSK</p>
            </td>

    <!-- Correspondence -->
          <td class="govuk-table__cell" colspan="2" style="padding-top: 0px;">
            <br><br><br><br><br>
            <b>Correspondence</b>

            <p style="font-size: 14px;"><br><br>

          </p></td>
    <!-- Files -->
            <td class="govuk-table__cell" colspan="2" style="padding-top: 0px;">
              <br><br><br><br>
            <b>Files</b>
            <p style="font-size: 14px;">
              <br>
              <a href="#"> Search result</a>
            </p></td>

      </div>

      </tr>

  </tbody>

  <!-- 5 --><tbody class="govuk-table__body ">


  <tr class="govuk-table__row govuk-link">
<td class="govuk-table__cell "></td>
  <td class="govuk-table__cell" scope="row">LP451734 <p class="govuk-visually-hidden"> M928SAI </p></td>
  <td class="govuk-table__cell">Smith.20313</td>
  <td class="govuk-table__cell">Register Update<p class="govuk-visually-hidden"> Substantive </p></td>
  <td class="govuk-table__cell" scope="row" data-sortable="2019-06-12">12/06/19</td>
  <td class="govuk-table__cell"scope="row">Delayed - Extension of Time Granted </td>
  <td class="govuk-table__cell" style="padding-left: 10px;"  data-sortable="2019-10-20">20/10/19</td>
  <td class="govuk-table__cell" scope="row"><a class="expandy-row-trigger2" href="#">+</a></td>
  </tr>
<tr class="govuk-table__row expandy-row hide-row">
  <!-- Vertical line -->
  <td class="govuk-table__cell" colspan="1" ></div>
    <div>
        </td>
      <div>
    <!-- HMLR reference -->
            <td class="govuk-table__row" colspan="2" style="padding-top: 0px;">
            <b> HMLR Reference</b>
            <br><br>
            <p style="font-size: 14px;">M928SAI</p>
            </td>
    <!-- Correspondence -->
          <td class="govuk-table__cell" colspan="2" style="padding-top: 0px;">
            <b>Correspondence</b>
            <a href="#" style="font-size: 14px;"><br><br>
              Requisition(s) issued on 29/06/19<br><br>
          </a></td>
    <!-- Files -->
            <td class="govuk-table__cell" colspan="2" style="padding-top: 0px;">
            <b>Files</b>
            <p style="font-size: 14px;">

              <a href="#"></a>
              <br>
              <br>
            </p></td>

      </div>
    </tr>


  </tbody>

  <tbody class="govuk-table__body ">

  <tr class="govuk-table__row govuk-link">
<td class="govuk-table__cell "></td>
  <td class="govuk-table__cell" scope="row">LP54312 <p class="govuk-visually-hidden"> A272JSH </p></td>
  <td class="govuk-table__cell">Curtis.15439</td>
  <td class="govuk-table__cell">Transfer of Part<p class="govuk-visually-hidden"> Substantive </p></td>
  <td class="govuk-table__cell" scope="row" data-sortable="2019-06-12">12/06/19</td>
  <td class="govuk-table__cell"> <t class="govuk-tag--progress"> Received: Priority Protected - Set-up activity underway </t> </td>
  <td class="govuk-table__cell"style="padding-left: 10px;"  data-sortable="2019-08-15"> 15/08/19</td>
  <td class="govuk-table__cell" scope="row"><a class="expandy-row-trigger2" href="#">+</a></td>
  </tr>

  <tr class="govuk-table__row expandy-row hide-row">
    <!-- Vertical line -->
    <td class="govuk-table__cell" colspan="1" ></div>
      </td>
      <div>
        <div>
      <!-- HMLR reference -->
              <td class="govuk-table__row" colspan="2" style="padding-top: 0px;">
              <b> HMLR Reference</b>
              <br><br>
              <p style="font-size: 14px;">A272JSH</p>
              </td>
      <!-- Correspondence -->
            <td class="govuk-table__cell" colspan="2" style="padding-top: 0px;">
              <b>Correspondence</b>
              <a href="#" style="font-size: 14px;"><br><br>
                <br><br>
            </a></td>
      <!-- Files -->
              <td class="govuk-table__cell" colspan="2" style="padding-top: 0px;">
              <b>Files</b>
              <p style="font-size: 14px;">

                <a href="#"></a>
                <br>
                <br>
              </p></td>

        </div>
      </tr>

    </tbody>

  <tbody class="govuk-table__body ">

  <tr class="govuk-table__row govuk-link">
<td class="govuk-table__cell "></td>
  <td class="govuk-table__cell" scope="row">LP980123 <p class="govuk-visually-hidden"> T832JDH </p></td>
  <td class="govuk-table__cell">Franklin.17234</td>
  <td class="govuk-table__cell">Official Search of Part with Priority<p class="govuk-visually-hidden"> Preliminary </p></td>
  <td class="govuk-table__cell" scope="row" data-sortable="2019-05-10">10/05/19</td>
  <td class="govuk-table__cell">Cancelled</td>
  <td class="govuk-table__cell"style="padding-left: 10px;"></td>
  <td class="govuk-table__cell" scope="row"><a class="expandy-row-trigger2" href="#">+</a></td>
  </tr>

  <tr class="govuk-table__row expandy-row hide-row">
    <!-- Vertical line -->
    <td class="govuk-table__cell" colspan="1" ></div>
      </td>
    <div>


    <!-- HMLR reference -->

            <td class="govuk-table__row" colspan="2" style="padding-top: 0px;">
            <br>  <b> Priority Period<br> </b>10 May 2019 - 21 Jun 2019 <br><br><br>



            <b> HMLR Reference</b>
            <br><br>
            <p style="font-size: 14px;">T832JDH</p>
            </td>
    <!-- Correspondence -->
          <td class="govuk-table__cell" colspan="2" style="padding-top: 0px;">
            <br><br><br><br><br>
            <b>Correspondence</b><br><br>

            <a href="#" style="font-size: 14px;">Notification of Cancellation<br><br>

          </a></td>
    <!-- Files -->
            <td class="govuk-table__cell" colspan="2" style="padding-top: 0px;">
              <br><br><br><br>
            <b>Files</b>
            <p style="font-size: 14px;">
              <br>
              <a href="#"> Search result</a>
            </p></td>

      </div>

      </tr>

  </tbody>

  <tbody class="govuk-table__body ">

  <tr class="govuk-table__row govuk-link">
<td class="govuk-table__cell "></td>
  <td class="govuk-table__cell" scope="row">LP72912 <p class="govuk-visually-hidden"> P956EKA </p></td>
  <td class="govuk-table__cell">Terry.43123</td>
  <td class="govuk-table__cell">Search of the Index Map<p class="govuk-visually-hidden"> Preliminary </p></td>
  <td class="govuk-table__cell" scope="row" data-sortable="2019-05-11">11/05/19</td>
  <td  class="govuk-table__cell">Completed</td>
  <td class="govuk-table__cell"style="padding-left: 10px;" data-sortable=""></td>
  <td class="govuk-table__cell" scope="row"><a class="expandy-row-trigger2" href="#">+</a></td>
  </tr>

  <tr class="govuk-table__row expandy-row hide-row">
    <!-- Vertical line -->
    <td class="govuk-table__cell" colspan="1" ></div>
      </td>
    <div>

    <!-- HMLR reference -->
            <td class="govuk-table__row" colspan="2" style="padding-top: 0px;">
            <b> HMLR Reference</b>
            <br><br>
            <p style="font-size: 14px;">P956EKA</p>

    <!-- Correspondence -->
          <td class="govuk-table__cell" colspan="2" style="padding-top: 0px;">
            <b>Correspondence</b>
            <p style="font-size: 14px;"><br><br>

          </p></td>
    <!-- Files -->
            <td class="govuk-table__cell" colspan="2" style="padding-top: 0px;">
            <b>Files</b>
            <p style="font-size: 14px;">
              <br>
              <a href="#"> Search result</a>
            </p></td>

      </div>
      </tr>

  </tbody>

  <tbody class="govuk-table__body ">

  <tr class="govuk-table__row govuk-link">
<td class="govuk-table__cell "></td>
  <td class="govuk-table__cell" scope="row">LP890543 <p class="govuk-visually-hidden"> K928TDH </p></td>
  <td class="govuk-table__cell">Johnson.12334</td>
  <td class="govuk-table__cell">Register Update<p class="govuk-visually-hidden"> Substantive </p></td>
  <td class="govuk-table__cell" scope="row" data-sortable="2019-04-05">05/04/19</td>
  <td class="govuk-table__cell"> <label class="govuk-tag--complete">Completed</label> </td>
  <td class="govuk-table__cell"style="padding-left: 10px;" data-sortable="2019-06-08">08/06/19</td>
  <td class="govuk-table__cell" scope="row"><a class="expandy-row-trigger2" href="#">+</a></td>
  </tr>

  <tr class="govuk-table__row expandy-row hide-row">
    <!-- Vertical line -->
    <td class="govuk-table__cell" colspan="1" ></div>
      </td>
    <div>
    <!-- HMLR reference -->

            <td class="govuk-table__cell" colspan="2" style="padding-top: 0px;">
            <b> HMLR Reference</b>
            <br><br>
            <p style="font-size: 14px;">K928TDH</p>
            </td>
    <!-- Correspondence -->
          <td class="govuk-table__cell" colspan="2">
            <b>Correspondence</b>
            <p style="font-size: 14px;"><br>
            <a href="#"> Requisition(s) issued on 22/05/19</a><br><br>
          </p></td>
    <!-- Files -->
            <td class="govuk-table__cell" colspan="2" style="padding-top: 0px;">
            <b>Files</b><br><br>
            <p style="font-size: 14px;">
            <a href="#"> Registration Completion Sheet </a>

            </p></td>

      </div>
      </tr>

  </tbody>

  <!-- 10 --><tbody class="govuk-table__body ">


  <tr class="govuk-table__row govuk-link">
<td class="govuk-table__cell "></td>
  <td class="govuk-table__cell" scope="row">LP980123 <p class="govuk-visually-hidden"> A391OLS </p></td>
  <td class="govuk-table__cell">Colbrook.12334</td>
  <td class="govuk-table__cell">New Lease<p class="govuk-visually-hidden"> Substantive </p></td>
  <td class="govuk-table__cell" scope="row" data-sortable="2019-05-01">01/05/19</td>
  <td  class="govuk-table__cell"> <label class="govuk-tag--complete">Completed</label> </td>
  <td class="govuk-table__cell"style="padding-left: 10px;"  data-sortable="2019-05-09">09/04/19</td>
  <td class="govuk-table__cell" scope="row" ><a class="expandy-row-trigger2" href="#">+</a></td>
  </tr>

  <tr class="govuk-table__row expandy-row hide-row">
    <!-- Vertical line -->
    <td class="govuk-table__cell" colspan="1" ></div>
</td>
    <div>

    <!-- HMLR reference -->

            <td class="govuk-table__cell" colspan="2" style="padding-top: 10px;">
            <b> HMLR Reference</b>
            <br><br>
            <p style="font-size: 14px;">A391OLS </p>

            <!-- Parent titles -->

                    <b>Parent titles</b><br><br>
                    LP00001<br>
                    LP00002<br>
                    LP00003<br>
                    <p style="font-size: 14px;">

                    </p></td>
    <!-- Correspondence -->
          <td class="govuk-table__cell" colspan="2">
            <b>Correspondence</b>
            <p style="font-size: 14px;"><br>

          </p></td>
    <!-- Files -->
            <td class="govuk-table__cell" colspan="1" style="padding-top: 0px;">
            <b>Files</b>
            <p style="font-size: 14px;">

            </p></td>



      </div>
      </tr>

  </tbody>



{% endmacro %}

{{rows(1)}}
{# {{rows(2)}}
{{rows(3)}}
{{rows(4)}}
{{rows(5)}} #}

</table>

<div class="govuk-grid-column-one-quarter" style="float: right; text-align: right;">
<div><p> < 1 > </p></div>
</div>


</div>
</div>
</div>
</div>

<!-- Footer -->

  <div style="align: center; padding-left: 100px; padding-right: 100px;">
    <hr>
    <br>

  <a href="#" style="text-color: grey; text-decoration: none;"> Terms and conditions</a>
  <a href="#" style="text-color: grey; text-decoration: none;">| Service hours</a>
  <a href="#" style="text-color: grey; text-decoration: none;">| Fair processing</a>
  <a href="#" style="text-color: grey; text-decoration: none;">| Personal information</a>
  <a href="#" style="text-color: grey; text-decoration: none;">| Freedom of information</a>
  <a href="#" style="text-color: grey; text-decoration: none;">| © Crown copyright </a>

  <a style="float:right;" href="/prototype-admin/clear-data"> Clear data </a>
  <br>
  <br>
  <br>
  <br>


</div>
</div>



{% endblock %}
